// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
@import "./assets/styles/color-definitions";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

@font-face {
  font-family: "sfmovieposter";
  src: url(./assets/fonts/sfmovieposter.woff);
}

@font-face {
  font-family: "hilogi";
  src: url(./assets/fonts/HILOGI18.woff);
}

@font-face {
  font-family: "Conv_nema";
  src: url(./assets/fonts/nema.woff);
}

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$neocron-is-primary: mat-palette($md-primary);
$neocron-is-accent: mat-palette($md-secondary);

$custom-typography: mat-typography-config(
  $font-family:   'hilogi',
  $body-1:        mat-typography-level(12px, 25px, 400),
  $body-2:        mat-typography-level(12px, 25px, 400),
);

@include angular-material-typography($custom-typography);

// The warn palette is optional (defaults to red).
$neocron-is-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$neocron-is-theme: mat-light-theme(
  $neocron-is-primary,
  $neocron-is-accent,
  $neocron-is-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($neocron-is-theme);

/* You can add global styles to this file, and also import other style files */

/********************************
*			GLOBAL				*
********************************/
html,
body,
img,
div,
span,
table,
form {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
html,
body {
  min-height: 900px;
  height: 100%;
}
body {
  background-color: #000000;
  color: #fff;
  font-family: Arial, Sans-Serif;
  font-size: 10pt;
  background-image: url("./assets/images/background.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
}
iframe {
  z-index: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 120%;
  padding-bottom: 7px;
  text-decoration: none;
  margin: 0px;
  font-weight: bold;
}
a {
  color: #397671;
  text-decoration: none;
}
a:hover {
  font-weight: bold;
  color: #79abaa;
  text-decoration: none;
}

/********************************
*			GLOBAL 				*
********************************/
.clearfix {
  clear: both;
}

/********************************
*		PAGE & HOLDER			*
********************************/
#page {
  width: 1060px;
  margin: auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
}
#holder {
  width: 1060px;
  height: 900px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

/********************************
*			CONTENT				*
********************************/
#content {
  position: relative;
  float: left;
  width: 996px;
  height: 680px;
  padding: 34px 32px 0 32px;
  background: url("./assets/images/basic_content.jpg") no-repeat 32px 34px;
}
#content .content_border {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
}

#content_border_top {
  height: 34px;
  width: 1060px;
  top: 0px;
  left: 0px;
}

#content_border_left {
  height: 680px;
  width: 32px;
  top: 34px;
  left: 0px;
}

#content_border_right {
  height: 680px;
  width: 32px;
  top: 34px;
  right: 0px;
}

/********************************
*			WORLDMAP			*
********************************/
.zone {
  display: none;
  width: 800px;
  height: 600px;
  background: url("./assets/images/basic_content.jpg") no-repeat center;
}

/***********
				* Tooltips *
				***********/
.tooltip {
  float: left;
  width: 359px;
  height: 236px;
  background: url("./assets/images/PopUpBG.png");
  color: #fff;
  font-family: Arial, Sans-Serif;
  padding: 0px;
  text-align: center;
}
.tooltip .headline {
  font-family: "sfmovieposter", Arial, Sans-Serif;
  line-height: 13pt;
  font-size: 13pt;
  letter-spacing: 0.05em;
  color: #c59437;
  width: 134px;
  height: 56px;
  margin-right: 40px;
  margin-top: 53px;
  text-align: center;
  float: right;
  /* text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; */
}
.tooltip .headline td {
  vertical-align: middle;
}
.tooltip img {
  margin-left: 40px;
  margin-top: 52px;
  float: left;
}

.tooltip .info {
  color: #c59437;
  font-family: "sfmovieposter", Arial, Sans-Serif;
  font-size: 12pt;
  line-height: 16px;
  margin-top: 20px;
  width: 100%;
  float: left;
}

/**********
				* Options *
				**********/
#options-menu {
  position: absolute;
  background: #13110e;
  border: 1px solid #2c2716;
  width: 150px;
  height: 220px;
  left: 833px;
  top: 485px;
  z-index: 10;
  padding-left: 5px;
  line-height: 11px;
  border-radius: 5px;
}

#options-menu h3 {
  font-family: "hilogi", Arial, Sans-Serif;
  letter-spacing: 0.1em;
  background-color: #2c2716;
  background-repeat: no-repeat;
  background-position: 9px center;
  margin: 0;
  padding: 0 0 0 2px;
  font-size: 12px;
  font-weight: normal;
  color: #d1db6d;
  text-decoration: none;
  line-height: 22px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  word-spacing: 20px;
}
#options-menu h3#h_factions {
  background-image: url("/web/20130627013541im_/http://www.neocron-is.com/images/faction_icon_small.png");
}
#options-menu h3#h_clans {
  background-image: url("/web/20130627013541im_/http://www.neocron-is.com/images/faction_icon_small.png");
}
#options-menu h3#h_general {
  background-image: url("/web/20130627013541im_/http://www.neocron-is.com/images/faction_icon_small.png");
}
#options-menu a {
  font-family: "hilogi", Arial, Sans-Serif;
  letter-spacing: 0.05em;
  line-height: 12px;
  text-align: left;
  font-size: 11px;
  font-weight: normal;
  color: #c49435;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
#options-menu a:hover {
  color: #d1db6d;
  font-size: 11px;
  font-weight: normal;
}

/************
					* MouseOver *
					************/
#options-menu ul {
  padding: 0;
  margin: 5px 0 0 0;
  list-style-type: none;
}
#options-menu ul li {
  padding: 0;
}
#options-menu ul li.parent {
  cursor: pointer;
  position: relative;
}
#options-menu ul li.parent ul {
  position: absolute;
  width: 223px;
  visibility: hidden;
  opacity: 0;
  left: -400px;
  top: -3px;
  background: #13110e;
  border: 1px solid #2c2716;
  text-align: right;
  padding: 2px 5px 4px 0;
  margin: 0;
  border-radius: 5px;
}
#options-menu ul li.parent:hover ul {
  z-index: 5;
  visibility: visible;
  opacity: 1;
  left: -230px;
  -moz-transition: left 0.4s ease-out, opacity 0.4s ease-out;
  -webkit-transition: left 0.4s ease-out, opacity 0.4s ease-out;
  transition: left 0.4s ease-out, opacity 0.4s ease-out;
}

/********************************
*			  MENU				*
********************************/
#menu {
  font-family: "sfmovieposter", Arial, Sans-Serif;
  width: 1060px;
  height: 71px;
  float: left;
  background: url("./assets/images/menu.jpg") no-repeat;
  position: relative;
}
#menu ul {
  position: absolute;
  right: 25px;
  top: 0px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#menu li {
  float: left;
}
#menu a {
  display: block;
  height: 19px;
  padding: 52px 0 0 0;
  margin: 0;
  border: 0;
  color: #c49435;
  background-repeat: no-repeat;
  background-position: left center;
  text-align: center;
  vertical-align: bottom;
  font-weight: normal;
}
#menu a:hover {
  color: #d1db6d;
  background-position: right center;
}
#menu a.active {
  color: #d1db6d;
}
#menu .menu_button.active {
  background-position: right center;
}
#menu #menu_button_01 {
  width: 65px;
  background-image: url("./assets/images/menu_button_01.jpg");
}
#menu #menu_button_02 {
  width: 59px;
  background-image: url("./assets/images/menu_button_02.jpg");
}
#menu #menu_button_03 {
  width: 59px;
  background-image: url("./assets/images/menu_button_03.jpg");
}
#menu #menu_button_04 {
  width: 64px;
  background-image: url("./assets/images/menu_button_04.jpg");
}

/********************************
*			  MENUTOP				*
********************************/
#menutop {
  font-family: "sfmovieposter", Arial, Sans-Serif;
  width: 1000px;
  height: 71px;
  float: left;
  position: relative;
}
#menutop ul {
  position: absolute;
  right: 25px;
  top: 0px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#menutop li {
  float: left;
}
#menutop a {
  display: block;
  height: 19px;
  padding: 52px 0 0 0;
  margin: 0;
  border: 0;
  color: #c49435;
  background-repeat: no-repeat;
  background-position: left center;
  text-align: center;
  vertical-align: bottom;
  font-weight: normal;
}
#menutop a:hover {
  color: #d1db6d;
  background-position: right center;
}
#menutop a.active {
  color: #d1db6d;
}
#menutop .menu_button.active {
  background-position: right center;
}
#menutop #menu_button_01 {
  width: 65px;
  background-image: url("./assets/images/menu_button_01.jpg");
  transform: rotate(180deg);
}
#menutop #menu_button_02 {
  width: 59px;
  background-image: url("./assets/images/menu_button_02.jpg");
  transform: rotate(180deg);
}

#version {
  position: absolute;
  left: 25px;
  top: 8px;
  text-align: right;
  font-family: "hilogi", Arial, Sans-Serif;
  letter-spacing: 0.1em;
  font-size: 10px;
  font-weight: normal;
  color: #d1db6d;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  z-index: 5;
}

/********************************
*			FOOTER				*
********************************/
#footer {
  width: 1060px;
  height: 115px;
  float: left;
  background: url("./assets/images/footer.jpg") no-repeat;
}

.maphighlight {
  height: 55px;
  width: 55px;
  margin-left: 33px;
  margin-top: 35px;
  position: absolute;
  /* bottom: 863px; */
  /* right: 281px; */

  opacity: 0.5;
  z-index: 1;
}

.TwilightGuardian {
  background-color: #d58a3c;
}

.TangentTechnologies {
  background-color: #d4bda4;
}

.Protopharm {
  background-color: aqua;
}

.TsunamiSyndicate {
  background-color: rgb(255, 139, 139);
}

.BlackDragon {
  background-color: #000000;
}

.CityMercs {
  background-color: #006400;
}

.NEXT {
  background-color: red;
}

.CityAdmin {
  background-color: green;
}

.Biotech {
  background-color: blue;
}

.FallenAngels {
  background-color: white;
}

.DiamondReal {
  background-color: #397671;
}

.TheCrahn {
  background-color: purple;
}

.Notresolvable {
  background-color: gold;
}

.overlay {
  width: 359px;
  height: 236px;
  background: url("./assets/images/PopUpBG.png");
  color: #fff;
  font-family: Arial, Sans-Serif;
  padding: 0px;
  text-align: center;
}

table {
  width: 100%;
  background-color: transparent !important;
}

td,
th {
  color: #c49435 !important;
}

tr {
  height: 36px !important;
}

.mat-paginator {
  color:  #c49435 !important;
  text-shadow: 0 0 5px #c8c8c8;
  background-color: transparent !important;
}

.table-container {
  margin-left: -24px;
  margin-right: -24px;
  margin-top: -5px;
  height: 100%;
  background-color: #2c2716;
  background-image: radial-gradient(rgba(0, 0, 0, 0.75), #2c2716 120%);
}

.options-bar {
  background-color: #2c2716;
  background-image: radial-gradient(rgba(0, 0, 0, 0.75), #2c2716 120%);
  height: 70px;
  margin-left: -24px;
  margin-right: -24px;
}

.options-bar-content {
  margin-left: 40px;
}

.table-container::after {
  content: "";
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 75%;
  background: repeating-linear-gradient(
    0deg,
    rgba(black, 0.15),
    rgba(black, 0.15) 1px,
    transparent 1px,
    transparent 2px
  );
}

.mat-table {
  font-family: "hilogi" !important;
  color: #c49435 !important;
  text-shadow: 0 0 5px #c8c8c8;
  margin-left: 30px;
}

.mat-column-name {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-clan {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-members {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 18% !important;
  width: 18% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-faction {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 23% !important;
  width: 23% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-class {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 27% !important;
  width: 27% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/**********
				* Options *
				**********/
#options-menu {
  background: #13110e;
  border: 1px solid #2c2716;
  width: 165px;
  height: 30px;
  left: 835px;
  top: 40px;
  z-index: 10;
  padding-left: 5px;
  line-height: 11px;
  border-radius: 5px;
}

#options-menu h3 {
  font-family: "hilogi", Arial, Sans-Serif;
  letter-spacing: 0.1em;
  background-color: #2c2716;
  background-repeat: no-repeat;
  background-position: 9px center;
  margin: 0;
  padding: 0 0 0 2px;
  font-size: 12px;
  font-weight: normal;
  color: #d1db6d;
  text-decoration: none;
  line-height: 22px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  word-spacing: 20px;
}
#options-menu a {
  font-family: "hilogi", Arial, Sans-Serif;
  letter-spacing: 0.05em;
  line-height: 12px;
  text-align: left;
  font-size: 11px;
  font-weight: normal;
  color: #c49435;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
#options-menu a:hover {
  color: #d1db6d;
  font-size: 11px;
  font-weight: normal;
}

/************
					* MouseOver *
					************/
#options-menu ul {
  padding: 0;
  margin: 5px 0 0 0;
  list-style-type: none;
}
#options-menu ul li {
  padding: 0;
}
#options-menu ul li.parent {
  cursor: pointer;
  position: relative;
}
#options-menu ul li.parent ul {
  position: absolute;
  width: 223px;
  visibility: hidden;
  opacity: 0;
  left: -400px;
  top: -3px;
  background: #13110e;
  border: 1px solid #2c2716;
  text-align: right;
  padding: 2px 5px 4px 0;
  margin: 0;
  border-radius: 5px;
}
#options-menu ul li.parent:hover ul {
  z-index: 5;
  visibility: visible;
  opacity: 1;
  left: -230px;
  -moz-transition: left 0.4s ease-out, opacity 0.4s ease-out;
  -webkit-transition: left 0.4s ease-out, opacity 0.4s ease-out;
  transition: left 0.4s ease-out, opacity 0.4s ease-out;
}


// ------------------    mat-form-field   ------------------------------------------

.mat-form-field {
  top: 10px;
}

//overwrite input fields
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #2c2716;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 10px 0em 10px 0em;
}

.mat-form-field-infix {
  border-top: none !important;
}

mat-form-field {
  margin-bottom: 0.15rem;
  &.ng-valid {
    .mat-form-field-wrapper {
      padding-bottom: 1.2em;
    }
  }

  &.ng-invalid,
  &.mat-form-field-invalid {
    .mat-form-field-wrapper {
      padding-bottom: 1.2em;
    }
  }

  &.ng-untouched {
    .mat-form-field-wrapper {
      padding-bottom: 1.2em;
    }
  }

  .mat-form-field {

    &-underline {
      position: static;
    }

    &-subscript-wrapper {
      position: static;
    }
  }
}

.mat-form-field-label {
  color: #d1db6d;
}

.mat-datepicker-toggle-default-icon {
  color: #d1db6d;
}
// .mat-form-field-label-wrapper {
//   top: -1.5em !important;
// }
//border radius
.mat-form-field-appearance-outline {
  .mat-form-field-outline {
    color: #2c2716;

    &-start {
      border-radius: 0.125rem 0 0 0.125rem !important;
      border: 2px solid #2c2716;
      border-right: none;
    }

    &-end {
      border-radius: 0 0.125rem 0.125rem 0 !important;
      border: 2px solid #2c2716;
      border-left: none;
    }

    &-gap {
      border: 2px solid #2c2716;
      border: 2px solid #2c2716;
    }
  }
}

// star char in required fields
.mat-focused {
  .mat-form-field-required-marker {
    color: #c49435;
  }
}

mat-form-field.mat-form-field {
  font-size: 1rem;
  font-family: 'hilogi';
}

.mat-form-field-appearance-outline {
  .mat-form-field-outline-thick {
    .mat-form-field-outline-start:focus {
      border-width: 5px;
    }
  }

  //&.mat-focused {
  //  .mat-form-field-outline-thick {
  //    //color: $outline-color-primary;
  //  }
  //
  //  &.mat-accent .mat-form-field-outline-thick {
  //    //color: $outline-color-accent;
  //  }
  //
  //  &.mat-warn .mat-form-field-outline-thick {
  //    //color: $outline-color-warn;
  //  }
  //}

  &.mat-form-field-can-float.mat-form-field-should-float {
    .mat-form-field-outline-gap {
      border-top-color: transparent;
    }
  }

  .mat-form-field-outline-gap {
    border: 1px solid currentColor;
    border-left-style: none;
    border-right-style: none;
    border-radius: 1e-6px;

    &::before {
      content: none !important;
    }
  }

  // Class repeated so that rule is specific enough to override focused accent color case.
  &.mat-form-field-invalid.mat-form-field-invalid {
    .mat-form-field-label {
      color: #c49435;

      .mat-form-field-required-marker {
        color: #c49435;
      }
    }

    .mat-input-element {
      caret-color: #c49435;
    }

    .mat-form-field-outline-thick {
      color: #c49435;
      border: 1px solid #2c2716;
    }
  }
}